body{
    text-align: center;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;

    
}
.container{
    
    width: 50%;
    height: 600px;
    margin: 80px auto;
   
}

.digit{
    margin: 25% auto 15% auto;
    color: white;
    font-size: 60px;
    font-weight: 400;
    border: 1px solid black;
    border-radius:  0% 50% ;
    background-color: rgba(7, 7, 7, 0.733);

}
.heading{
    color: rgba(0, 0, 0, 0.836);
    font-size: 70px;
    
    
}
.heading:hover{
    color: black;
    text-decoration: underline;
}
#button{
   margin: 0 20px 0 0;
    
}
#button li {
    list-style-type: none;
}
.btn{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 60px;
}
.btn1{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 54px;
}
.btn2{
    background-color: rgba(0, 0, 0, 0.753);
color: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 55px;    
}
.btn3{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 45px;
}
.btn4{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 62px;
}
.btn:hover,.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
    padding: 8px 100px;
    font-size: 20px;
}
